In [1]:
import pandas as pd

data = pd.read_csv('data/cgm_to_meal_start.csv', parse_dates=['time_insulin', 'time_cgm'])
data = data.dropna()
data = data.reset_index(drop=True)

data[1:100]

      cgm        time_insulin            time_cgm  meal_start  meal
1   314.0 2017-07-25 12:03:51 2017-07-25 12:08:54           0     0
2   314.0 2017-07-25 12:03:55 2017-07-25 12:08:54           0     0
3   314.0 2017-07-25 12:05:53 2017-07-25 12:08:54           0     0
4   314.0 2017-07-25 12:05:53 2017-07-25 12:08:54           0     0
5   314.0 2017-07-25 12:06:02 2017-07-25 12:08:54           0     0
..    ...                 ...                 ...         ...   ...
95  124.0 2017-07-26 02:45:54 2017-07-26 02:48:57           0     0
96  124.0 2017-07-26 02:45:54 2017-07-26 02:48:57           1     0
97  124.0 2017-07-26 02:46:02 2017-07-26 02:48:57           0     1
98  124.0 2017-07-26 02:46:04 2017-07-26 02:48:57           0     1
99  120.0 2017-07-26 03:00:00 2017-07-26 03:03:57           0     1

[99 rows x 5 columns]